.App {
  text-align: center;
}

*{
  font-weight: 600;
  background-color: black;
  box-sizing: border-box; 
  text-align: center;
  color: white;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 


@media only screen and (max-width: 960px) {
  *{
    font-size: 10px;

  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coin-app{
  text-align: center;
  overflow: hidden;
  
}



.coin-search{
  margin: 2rem;
  align-items: center;
  justify-content: center;

}

form{
  text-align: center;
  margin: 0 auto; 
  width: 300px;
}


